body {
  background-color: #6b7fa0;
}
.jumbotron {
  background-image: url('walltopia2.jpg');
}
h1 {
  color: white;
}
h2 {
  color: black;
}

.climberInfo {
  background-color: pink;
  border: 2px solid black;
  border-radius: 15px;
}

#locationList {
  font-size: 30px;
  font: 'Roboto', Helvetica, Arial;
  background-color: green;
}
